
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/storage/
/playwright/auth-states/
/CopilotHelper
/.env
**/non-functional-test-coverage.md
**/non-functional-test-coverage.html
